# Ignore .hidden files
.*
# Ignore everything
*

!.github/
!.github/**

!.dockerignore
!.gitattributes
!.gitignore
!.gitempty

!LICENSE
!SECURITY.md

!README.md

!.pre-commit-config.yaml
!.gitleaks.toml
!.prettierrc.yml
!.yamllint

!sca.sh
!cis_ubuntu24-04.yml
